player-connection-mode=Connect
player-connection-guid=2183439238
player-connection-debug=1
player-connection-project-name=echospace
player-connection-wait-timeout=-1
player-connection-ip=10.135.71.21
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=057609cc3aa04f1d97958ec34443903a
